# Copy to .env and fill values for local development or for deployment
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.xxxx.mongodb.net/chatroom?retryWrites=true&w=majority
JWT_SECRET=replace_with_a_strong_random_secret
PORT=3000
# MAX_MESSAGES default 100000
# MAX_MESSAGES=100000